chromium/
node_modules/
sweatshirt_listing_videos/
shirt_listing_videos/
shirt_listing_photos/
sweatshirt_listing_photos/
.csv/
backups/
database/
digital_listing_files/
digital_listing_photos/
digital_listing_videos/
edited_text_files/
midjourney_images/
midjourney_renamed_images/
resume/
templates/
templates-UK/
templates-US/
.env
*.csv
*.txt
*.exe
tools.js
assets/
webscrape-2024-01-13_19-29-33/